.viewbox{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header{
    display: flex;
    font-size: 30px; 
    background-color: #FF7C7C;
    color: white;
}

.coco_body{
    flex: 1; 
    display: flex;
    flex-direction: row;
}

.coco_nav{
    order: -1;
    background-color: #FF7C7C;
}

#profile{
    margin-top: 15%;
    margin-bottom: 30%;
}

.name{
    font-size: 35px;
}

.birth{
    font-size: 20px;
}

.coco_content{
    flex: 1;
    background-color: #FFEFEF;
}



nav {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #FF7C7C;
}

#menu{
    width: 300px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #FFEFEF;
}


#up{
    display: flex;
    margin: 10px;
}

#chart_div{
    display: flex;
    width: 100%;
}

#down{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.notice{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex: 1;
    color: #462D2D;
    font-size: large;
}

#score_box{
    background-color: white;
    width: 30%;
}

.score_div{
    font-size: 100px;
}

#notice_box{
    background-color: white;
    margin-bottom: 10px;
}

#letter_box{
    background-color: white;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #FFEFEF;
    color: #462D2D;
}

li a:hover:not(.active) {
    background-color: rgb(134, 134, 134);
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #FF7C7C;
    font-size: large;
}
